@import 'variables';

.widget {
  position: relative;

  width: 715px;
  height: 520px;
  background-color: $widget-background-color;
  border-radius: 10px;
  box-shadow: 2.5px 4.33px 20px rgba(0, 0, 1, 0.42);

  &__header {
    padding: 15px 5px;
  }

  &__title {
    font-weight: bold;
    color: $widgetHeader-text-color;
    font-family: $header-font-family;
    font-size: 18px;
  }

  &__save {
    color: $widgetSave-text-color;
    cursor: pointer;
  }

  &__cancel {
    color: $widgetCancel-text-color;
    cursor: pointer;
  }

  &__fader {
    z-index: 2;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba($widget-background-color, 1.0) 100%);
  }
}

form {
  height: 450px;
  overflow: scroll;
}
