$gradient-start: #086970;
$gradient-finish: #116581;

$widget-background-color: #fafafa;
$widgetHeader-text-color: #0c9a52;
$widgetCancel-text-color: #f0738b;
$widgetSave-text-color: #5ab85d;

$sectionHeader-background-color: #f2f7f4;
$sectionHeader-text-color: #53b07c;
$sectionHeader-border-color: #efeeee;

$formLabel-text-color: #848484;
$formInput-text-color: #3a3a3a;
$formInput-required: #26a564;

$header-font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
